body {
    background-color: linen;
}


h1 {
    text-align: center;
}

.filters {
    display: flex;
    justify-content: center;
}

.filter {
    margin: 10px;
}

#criminalsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    float: left;
    flex: 5;
}

.criminals {
    border: black solid 1px; 
    flex-basis: 25%; 
    margin: 15px; 
    padding: 10px
}


.criminals__name {
    text-align: center;
    margin: 6px;
    font-size: 18px;
}

.criminals__data {
    margin-left: 10px;
}

.facilities__title {
    text-align: center;
    margin: 6px;
    font-size: 15px;
}

.noteFormContainer {
    display: flex;
}

.cardsAndShowNotesButtonContainer {
    display: flex;
}

.noteListContainer {
    margin-top: 14px;
}

.asideParent {
    display: flex;
    float: right;
    flex: 1.5;
}

.note {
    margin: 20px 0px;
}